*{
    margin:0;
    padding: 0;
}
body{
    text-align: center;
font-family:sans-serif;
    height:100vh;

 /*background-color: #47102c;
    background-image: linear-gradient(315deg, #840b49 0%, rgb(16, 11, 69)74%); */
  /* background: radial-gradient(#45657B, #000133) repeat;  */
  /* background-image: url(https://img.freepik.com/free-vector/gradient-connection-background_23-2150462053.jpg?w=996&t=st=1700238148~exp=1700238748~hmac=c19e855949042b757acff61927a0d1952af2bfff981202fd95901c3b2fe35942); */
/* background-image: url(https://media.istockphoto.com/id/1132593892/photo/dark-blue-stained-grungy-background-or-texture.jpg?s=612x612&w=0&k=20&c=CJlbaoEBefSO-YNw5v2pO_D__xn-24kmkmqApl4oPLE=); */
 background-image: url(https://us.123rf.com/450wm/litvinovaelena86/litvinovaelena861811/litvinovaelena86181101517/112692605-blockchain-technology-background-blue-digital-pattern-blockchain-vector-concept-illustration.jpg?ver=6);
/* background-image: url(https://images.unsplash.com/photo-1644088379091-d574269d422f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8&w=1000&q=80); */


 background-repeat: no-repeat;
background-size: 100%;
}
    /* background-image:url(https://images.pexels.com/photos/19062073/pexels-photo-19062073/free-photo-of-clouds-over-foggy-hills-at-dawn.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size:cover;
    background-repeat:no-repeat; */

div{
    margin:10px;
    width:500px;
    position:absolute;
    top:50%;
    left:50%;
    color:white;
    background:linear-gradient(to left, #03032d,#06305d);
    transform:translate(-50%,-50%);
    padding:30px;
    box-shadow:2px 2px 100px ;
    opacity:0.4;
  border:2px solid white;

} 

.text{
    text-align:left;
    margin-left:30px;
    margin-top:30px;
    color:white;
    font-size:20px;
      width: 400x;
  line-height: 40px;
  margin-bottom: 10px;
        padding-right:20px;
  
    
}



#age{

    width:250px;
    height:23px;
    border-radius:5px;
}


#month{
    width:250px;
    height:23px;
    border-radius:5px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    height: 30px;
    width:40px;

  }

h2{
    font-size:45px;
    font-weight:600;
    color:white;
}


#country,#state,#city,#pin{
    color: white;
    text-align:left;
    font-size:20px;
    font-weight:200;
    border:1px solid skyblue;
    width:250px;
    background-color:transparent;
    border-radius:5px;
    outline:none;
    
}

.btn{
    display:block;
    font-size:inherit;
margin-left: 200px;
    margin-top:30px;
    width:100px;
    height:40px;
    color:black;
    background-color:#E0E0E0;
border:3px solid #e8e8ed;
border-radius:10px;
}
.btn:hover{
    color:white;
    background-color:rgb(41 41 45 / 60%);
} 

